<%= form_with(model: movie, local: true) do |f| %>
  <%= render "shared/errors", object: movie %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :released_at %>
  <%= f.date_field :released_at %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>

  <%= f.label :poster_image %>
  <%= f.text_field :poster_image %>

  <div class="checkboxes">
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>